<h1>Create new restaurant review.</h1>

<body>
  <form>
    Name<br>
    <input type="text" name="name"><br>
    Address<br>
    <input type="text" name="address"><br>
    Phone number<br>
    <input type="text" name="phonenumber"><br>
    Category - Choose between Chinese, Italian, Japanese, French, Belgian.<br>
    <input type="text" name="category"><br>
    <input type="submit" value="Submit">
  </form>
</body>
